<%= form_for(@user, :html => {:class => "ajax-form"}) do |f| %>

  <div class="field" validate="email">
  	<%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field" validate="password">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field" validate="password_confirmation">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

