<div class="left spaced">
  <%= form = form_for(@user, :html => {:class => "ajax-form"}) do |f| %>
  
    <div class="field" validate="name">
      <%= f.label :name %><br />
      <%= f.text_field :name, :size => nil%>
    </div>
    <div class="field" validate="email">
      <%= f.label :email, "Email (can be fake)" %><br />
      <%= f.text_field :email, :size => nil %>
    </div>
    <div class="field" validate="password">
      <%= f.label :password %><br />
      <%= f.password_field :password, :size => nil%>
    </div>
    <div class="field" validate="category">
      <%= f.label :category %><br />
      <%= f.select :category, ["Hipster", "Geek"], {:include_blank => true}, :size => nil%>
    </div>
    <div class="field" validate="bio">
      <%= f.label :bio, "Bio (custom message example)" %><br />
      <%= f.text_area :bio, :size => nil%>
      <div class="validation-message inline"></div>
    </div>
    <div class="actions">
      <%= f.submit :id => nil %>
    </div>
  <% end %>
</div>

<%= render :partial => 'shared/source', :locals => {:form => form} %>


