<p>
  Try to login or register with empty or invalid email to see the ajax validation.
</p>
<h1>Listing users</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<% end %>
</table>

<br />

