<div class="left">
	<div id="nav">
 Current Skin: 
    <h2>
      <strong><%= ajaxsubmit_skin.capitalize %></strong>
    </h2>
      <h4>
      Choose skin: 
        <%= link_to "Mailtrap", change_skin_path("mailtrap"), :class => ("active" if ajaxsubmit_skin == "mailtrap") %> |
        <%= link_to "Minimalistic", change_skin_path("minimalistic"), :class => ("active" if ajaxsubmit_skin == "minimalistic") %> |
        <%= link_to "Pointer", change_skin_path("pointer"), :class => ("active" if ajaxsubmit_skin == "pointer") %>
      </h4>
	</div>
  <h3>HTML:</h3>
  <pre class="sh_html"><code><%= form.to_str.gsub(/<div style=.*<\/div>/, "") %></code></pre>
  <h3>JavaScript:</h3>
  <pre class="sh_javascript"><code><%= File.read(Rails.root.join("public/javascripts/skins/#{ajaxsubmit_skin}.js")) %></code></pre>
  <h3>CSS:</h3>
  <pre class="sh_css"><code><%= File.read(Rails.root.join("public/stylesheets/skins/#{ajaxsubmit_skin}.css")) %></code></pre>

  
</div>
<div class="clear"></div>
