<!DOCTYPE html>
<html>
<head>
  <title>Ajaxsubmit demo application</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" %>
  <%= javascript_include_tag "shjs" %>
  <%= javascript_include_tag "sh_html" %>
  <%= javascript_include_tag "sh_javascript" %>
  <%= javascript_include_tag "ajaxsubmit" %>
  <%= javascript_include_tag "support" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div style="float:left">
    <a href="https://github.com/bogdan/ajaxsubmit"> Library source code</a>
    <a href="https://github.com/bogdan/ajaxsubmit-demo"> Demo source code</a>
  </div>
  <div style="float:right">
    <a href="http://gusiev.com">Author: Bogdan Gusiev</a>
  </div>
  <div style="clear:both"></div>
  <hr/>
  <br/>
	<div id="nav">
    <%= link_to "Home", root_path %> |
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
      <%= link_to "Logout", :logout %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %> |
    <% end %>
	</div>
  <%= yield %>

</body>
</html>
