<!DOCTYPE html>
<html>
<head>
  <title>Ajaxsubmit demo application</title>
  <%= stylesheet_link_tag "sh_ide-eclipse" %>
  <%= stylesheet_link_tag "grid" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "skins/#{ajaxsubmit_skin}" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" %>
  <%= javascript_include_tag "shjs" %>
  <%= javascript_include_tag "sh_html" %>
  <%= javascript_include_tag "sh_javascript" %>
  <%= javascript_include_tag "sh_css" %>
  <%= javascript_include_tag "ajaxsubmit" %>
  <%= javascript_include_tag "support" %>
  <%= javascript_include_tag "skins/#{ajaxsubmit_skin}" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <h1>AjaxSubmit live demo application</h1>

  <h3 class="left mrm">
    <a href="https://github.com/bogdan/ajaxsubmit"> Library source code</a>
  </h3>
  <h3 class="left">
    <a href="https://github.com/bogdan/ajaxsubmit-demo"> Demo source code</a>
  </h3>
  <h3 class="right">
    <a href="http://gusiev.com">Author: Bogdan Gusiev</a>
  </h3>
  <div class="clear"></div>
  <hr/>
  <br/>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <p>
  Try to login or register with empty or invalid email to see the ajax validation.
  </p>
	<div id="nav">
    <h4>
      <%= link_to "Home", root_path %> |
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
        <%= link_to "Logout", :logout %>
      <% else %>
        <%= link_to "Register", new_user_path %> |
        <%= link_to "Login", :login %> |
      <% end %>
    </h4>
	</div>
  <%= yield %>


  <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29118831-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
</body>
</html>
